---
/**
 * Understated post byline that links to the About hub (§13.5, §20). It is a
 * byline, not a bio: avatar + name, nothing more. The avatar uses the logomark
 * until a real author photo asset lands (see About page, §13.5).
 */
---

<a href="/about/" class="author-byline" rel="author">
  <img
    src="/logomark.svg"
    width="22"
    height="22"
    alt=""
    class="author-byline__avatar"
  />
  <span class="author-byline__by">by <strong>Aaron Meese</strong></span>
</a>
